* {
  font-family: monospace;
}

body {
  background: #ffcd38;
  color: #4a4a4a;
}

.App{
  margin: 0 5rem;
}

header{
  padding: 2rem;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.inputBox, .outputBox{
  background-color: #FFDD67;
  padding: 1rem;
  font-size: 1.2rem;
  height: 70vh;
  transition: 300ms;
}

.outputBox{
  overflow-y: scroll;
}

.inputBox:hover, .outputBox:hover{
  box-shadow: 10px 10px 0px #4a4a4a5e;
}

.helper {
  width: 50px;
  height: 50px;
  background-color: #ffdd67;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms;
}

.helper:hover {
  box-shadow: 10px 10px 0px #4a4a4a5e;
}

textarea {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  resize: none;
}

textarea:focus {
  outline: none;
  border: none;
}

footer{
  text-align: center;
  font-size: 1.4rem;
  padding: 1rem;
}

footer a{
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 769px){
  .outputBox, .inputBox{
    height: 40vh;
  }
  .main{
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

::-webkit-scrollbar {
  width: 0;
}